
/*========= homepage responsive css=========== */

@media only screen and (max-width: 600px) {
	.box_para p{
		width:100%;
		font-weight: bold;
		
	}
	.header_details{
		width:90%;
	}
	.overview_head h5{
          width: 100%;
	}
  }